.footer__firstBox{
    background-color: rgb(241, 226, 226);  
}
.footer__secondBox
{
 padding: 20px 0px;
background-color:  rgb(100, 187, 71),;
}
.footer__text{
 width: 262px;
 color: rgb(101, 117, 130);
font-size: 16px;
font-weight: 760;
line-height: 20px;
text-align: left;
margin-top: 34px;
}


.footer__content{
    display: flex;
    gap: 115px;
}
    


.footer__item{
color: rgb(44, 56, 71);
font-size: 18px;
font-weight: 770;
line-height: 28px;
text-align: left;
}
.footer__text1{
color: rgb(101, 117, 130);
font-size: 12px;
font-weight: 760;
line-height: 20px;
text-align: left;
margin-bottom: 8px;
margin-top: 20px;
}
.footer__container{
    padding-top: 114px;
    padding-bottom: 114px;
}

.footer__secondBox_text{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 760;
line-height: 20px;
text-align: center;
}