.home2__box__text h1{
    /* Heading */

width: 366px;
height: 136px;
color: rgb(21, 20, 20);
font-size: 44px;
font-weight: 770;


}

.home2__box__text{
 
    width: 500px;
    height: 170px;
    color: rgb(24, 29, 25);
    margin-top: 30px;
    font-size: 16px;
    font-weight: 750;
 
}

.home2__box{
    display: flex;
    padding-top: 102px;
}
.home2__box__text p{
    margin-top: 30px;
width: 500px;
color: rgb(89, 92, 89);
font-size: 18px;
font-weight: 750;
line-height: 34px;
text-align: left;
}