.home__container{
width: 1170px;
}
.home__navbar{
    display: flex;
   gap: 71px;
}
.home__box_tatil{
 color: rgb(21, 20, 20);
font-size: 45px;
font-weight: 770;
line-height: 68px;
letter-spacing: 0%;
text-align: left;
}
.home__box{
    width: 516px;
}
.home__box_taxt{
color: rgb(63, 77, 66);
font-size: 16px;
font-weight: 750;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
margin-top: 30px;
}